<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Tracking</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A300%2C400%2C700"/>
  <link rel="stylesheet" href="./styles/tracking.css"/>
</head>
<body>
<div class="tracking-szZ">
  <div class="header-dD3">
    <div class="frame-7155-dkm">
      <img class="frame-yZj" src="./assets/frame-bAh.png"/>
      <div class="frame-7154-hkd">
        <div class="frame-7151-eQy">
          <div class="us00000000031-Znq">US00000000031</div>
          <img class="icons-search24px-BSq" src="./assets/icons-search24px.png"/>
        </div>
        <div class="frame-7152-GDP">Track</div>
      </div>
    </div>
  </div>
  <div class="auto-group-5s9f-v33">
    <div class="auto-group-ck61-THs">
      <div class="frame-7150-Me9">
        <div class="value-K5B">
          <div class="auto-group-vgqf-S9o">
            <div class="delivery-status--aG1">Delivery Status:</div>
            <div class="delivery-status-5Tf">
              <div class="delivered-Pz9">Delivered</div>
              <img class="home-1-hzq" src="./assets/home-1-dB7.png"/>
            </div>
          </div>
          <div class="sub-link-eQH">
            <img class="mail-1-zj3" src="./assets/mail-1.png"/>
            <div class="nhn-cp-nht-trng-thi-LH7">Nhận cập nhật trạng thái</div>
          </div>
        </div>
        <div class="frame-7148-pCH">
          <div class="delivery-status--9kM">Thời gian</div>
          <div class="delivery-status-V3X">
            <div class="picked-up-RSy">Thứ Tư</div>
          </div>
          <div class="lc-13-50-xho">10/8/2022 lúc 13:50</div>
          <div class="khng-yu-cu-k-nhn-ca-trc-GiV">Không yêu cầu ký nhận để ở cửa trước</div>
          <div class="sub-link-ZxV">
            <img class="download-1-VbF" src="./assets/download-1-KRb.png"/>
            <div class="nhn-ho-n-giao-hng-Rzh">Nhận Hoá đơn giao hàng</div>
          </div>
        </div>
        <div class="frame-7149-jkV">
          <div class="tracking-id-hSR">Tracking ID</div>
          <div class="delivery-status-DvZ">
            <div class="us00000000031-BcV">US00000000031</div>
            <img class="vector-Wem" src="./assets/vector-z97.png"/>
          </div>
        </div>
      </div>
    </div>
    <div class="auto-group-rzhb-3Po">
      <div class="frame-7157-ZN9">
        <div class="frame-7156-t9X">
          <div class="value-c5X">
            <div class="delivery-status--jR3">Từ</div>
            <div class="inglewood-ca-us-s1T">INGLEWOOD, CA US</div>
            <div class="to-nhn-BH3">Đã tạo nhãn</div>
            <div class="monday-27-06-2022-03-42-5tD">Monday, 27/06/2022 03:42</div>
          </div>
          <div class="auto-group-3ach-pL1">
            <div class="value-xSD">
              <div class="auto-group-6drt-Jky">
                <div class="delivery-status--FgD">picked up</div>
                <div class="inglewood-ca-us-nRF">Ho Chi Minh, VN</div>
              </div>
              <div class="auto-group-ej8h-iph">Friday, 08/07/2022 00:00</div>
            </div>
            <div class="value-SEu">
              <div class="auto-group-7fn9-Pvq">
                <div class="delivery-status--9QD">in transit</div>
                <div class="inglewood-ca-us-erm">Ho Chi Minh, VN</div>
              </div>
              <div class="auto-group-iwk9-nTB">Sunday, 10/07/2022 10:15</div>
            </div>
          </div>
          <div class="value-Huj">
            <div class="delivery-status--dTo">Delivered</div>
            <div class="inglewood-ca-us-ATj">Da Nang, VN</div>
            <div class="auto-group-fnfs-tuX">Friday, 15/07/2022 15:25</div>
          </div>
        </div>
        <div class="group-1-Kzq">
          <img class="vector-eGR" src="./assets/vector-gRf.png"/>
        </div>
        <div class="ellipse-2-NiD">
        </div>
        <div class="ellipse-3-tgZ">
        </div>
        <div class="ellipse-4-RgV">
        </div>
      </div>
      <div class="frame-7174-xgR">
        <div class="frame-7169-VAZ">
          <div class="frame-7165-oh3">
            <div class="thng-tin-l-hng-ZAR">Thông tin lô hàng</div>
            <div class="frame-7166-5Pf">
              <div class="delivery-status-RyK">
                <img class="closed-cardboard-box-with-packing-tape-1-MMB" src="./assets/closed-cardboard-box-with-packing-tape-1.png"/>
                <div class="shipment-overview-sqK">SHIPMENT OVERVIEW</div>
              </div>
              <div class="frame-7164-c2D">
                <div class="frame-7162-YgZ">
                  <div class="frame-7161-tEd">
                    <div class="tracking-number-S1F">TRACKING NUMBER</div>
                    <div class="item-777496427531-m3X">777496427531</div>
                  </div>
                </div>
                <div class="frame-7161-scM">
                  <div class="tracking-number-CPj">FROM</div>
                  <div class="item-777496427531-XB7">HCM, VN</div>
                </div>
                <div class="frame-7164-qhb">
                  <div class="frame-7161-zKb">
                    <div class="tracking-number-9TP">TO</div>
                    <div class="item-777496427531-V1T">US</div>
                  </div>
                </div>
                <div class="frame-7161-DCM">
                  <div class="tracking-number-Lnm">Ngày gửi hàng</div>
                  <div class="item-777496427531-gLq">07/07/2022</div>
                </div>
                <div class="frame-7166-D5s">
                  <div class="frame-7161-Mhs">
                    <div class="tracking-number-hWq">ngày nhận hàng</div>
                    <div class="item-777496427531-dQV">17/07/2022</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="frame-7167-LZo">
              <div class="delivery-status-tbK">
                <img class="fast-delivery-1-DNh" src="./assets/fast-delivery-1-LzD.png"/>
                <div class="services-jrq">SERVICES</div>
              </div>
              <div class="frame-7164-gGH">
                <div class="frame-7162-3Mj">
                  <div class="frame-7161-z25">
                    <div class="tracking-number-Lrd">DỊCH VỤ</div>
                    <div class="item-777496427531-UT3">Home Delivery</div>
                  </div>
                </div>
                <div class="frame-7161-zAV">
                  <div class="tracking-number-81o">ĐIỀU KHOẢN</div>
                  <div class="item-777496427531-ekq">Người gửi</div>
                </div>
              </div>
            </div>
            <div class="frame-7168-n6M">
              <div class="delivery-status-YLR">
                <img class="shopping-list-1-poj" src="./assets/shopping-list-1.png"/>
                <div class="package-details-ZFX">PACKAGE DETAILS</div>
              </div>
              <div class="frame-7164-gb3">
                <div class="frame-7162-cUh">
                  <div class="frame-7161-9zR">
                    <div class="tracking-number-WKB">PACKAGING</div>
                    <div class="item-777496427531-34D">Package</div>
                  </div>
                </div>
                <div class="frame-7161-ZoF">
                  <div class="tracking-number-Vwo">TRỌNG LƯỢNG</div>
                  <div class="item-777496427531-SMF">13 lb / 5,9 kg</div>
                </div>
                <div class="frame-7164-yc5">
                  <div class="frame-7161-Xdb">
                    <div class="tracking-number-gmP">KÍCH THƯỚC</div>
                    <div class="item-777496427531-DWR">13x13x9 in.</div>
                  </div>
                </div>
                <div class="frame-7161-Lqw">
                  <div class="tracking-number-g97">TỔNG KIỆN HÀNG</div>
                  <div class="item-777496427531-1hB">2</div>
                </div>
              </div>
            </div>
          </div>
          <div class="divider-9Hb">
            <div class="rectangle-5316-KC5">
            </div>
          </div>
        </div>
        <div class="frame-7175-fFw">
          <div class="frame-7173-cws">
            <div class="lch-s-di-chuyn-mJy">Lịch sử di chuyển</div>
            <div class="frame-7172-Uz5">
              <div class="frame-7151-qpd">
                <div class="frame-7171-NZf">
                  <div class="sp-xp-theo-ngy-gi-8Hw">sắp xếp theo ngày/ giờ</div>
                  <div class="tng-dn-eGH">Tăng dần</div>
                </div>
                <img class="vector-mLu" src="./assets/vector-iEV.png"/>
              </div>
              <div class="frame-7171-gim">
                <div class="frame-7171-RgM">
                  <div class="mi-gi-nWu">Múi giờ</div>
                  <div class="gi-qut-a-phng-WSu">Giờ quét địa phương</div>
                </div>
                <img class="vector-2RF" src="./assets/vector-6kZ.png"/>
              </div>
            </div>
          </div>
          <div class="image-4-kc9">
          </div>
        </div>
        <div class="auto-group-jbhj-qdb">
          <div class="sub-link-Lim">
            <img class="download-1-SWu" src="./assets/download-1-4vM.png"/>
            <div class="back-to-top-xVF">Back to top</div>
          </div>
          <div class="rectangle-5316-t81">
          </div>
          <div class="frame-7176-2V7">
            <div class="danh-sch-theo-di-ZE9">Danh sách theo dõi</div>
            <div class="bn-hin-khng-c-bt-c-l-hng-no-trong-danh-sch-theo-di-GuF">Bạn hiện không có bất cứ lô hàng nào trong Danh sách theo dõi.</div>
          </div>
          <div class="sub-link-ZNZ">
            <img class="download-1-561" src="./assets/download-1-tsT.png"/>
            <div class="back-to-top-CgR">Back to top</div>
          </div>
          <div class="rectangle-5317-vsK">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>