
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 9.8rem;
}.rectangle-5339-8rd {
  width: 100%;
  height: 18.3rem;
  background-color: #fafafa;
}
