
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.tracking-Mow {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;

  .header-UNm {
    box-sizing: border-box;
    padding: 1.55rem 24rem;
    width: 100%;
    height: 7.5rem;
    background-color: #21235b;
    flex-shrink: 0;

    .frame-7155-biH {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .frame-wGM {
        flex-shrink: 0;
        margin-right: 81.3rem;
        width: 16.3rem;
        height: 4.4rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
      .frame-7154-ru7 {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .frame-7151-22u {
          height: 100%;
          display: flex;
          background-color: #ffffff;
          padding: 1.3rem 1.151rem 1.351rem 0.9rem;
          box-sizing: border-box;
          align-items: center;
          border: solid 0.1rem #fcd500;
          border-radius: 0.8rem;
          flex-shrink: 0;
          margin-right: 2.4rem;

          .us00000000031-LZP {
            display: flex;
            color: #333333;
            font-weight: 400;
            line-height: 0.8;
            text-transform: capitalize;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.051rem 15.1rem 0rem 0rem;
            font-size: 2rem;
          }
          .icons-search24px-RKw {
            width: 1.749rem;
            height: 1.749rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .frame-7152-uW1 {
          font-size: 1.6rem;
          white-space: nowrap;
          justify-content: center;
          height: 100%;
          display: flex;
          align-items: center;
          font-weight: 700;
          line-height: 1;
          font-family: Roboto, 'Source Sans Pro';
          width: 10.2rem;
          background-color: #fcd500;
          border-radius: 0.8rem;
          color: #21235b;
          flex-shrink: 0;
          text-transform: capitalize;
        }
      }
    }
  }
  .auto-group-eaad-ZaZ {
    box-sizing: border-box;
    padding-bottom: 2.3rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-zcem-WEu {
      box-sizing: border-box;
      padding: 4.9rem 42.2rem 1.6rem 24rem;
      width: 191.9rem;
      height: 27rem;
      background-color: #fafafa;
      flex-shrink: 0;
      margin-right: 0.1rem;

      .frame-7150-bn9 {
        height: 100%;
        display: flex;
        align-items: flex-start;
        width: 100%;

        .value-wr1 {
          margin-right: 24.2rem;
          width: 19.8rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-x3vh-Uqw {
            box-sizing: border-box;
            padding-bottom: 1.8rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .delivery-status--EKK {
              flex-shrink: 0;
              text-transform: uppercase;
              color: #333333;
              white-space: nowrap;
              font-weight: 700;
              line-height: 1;
              font-family: Roboto, 'Source Sans Pro';
              margin-bottom: 2rem;
              display: flex;
              font-size: 1.6rem;
            }
            .delivery-status-Z6h {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-right: 2.6rem;
              box-sizing: border-box;
              padding: 0.1rem 0.1rem 0.2rem 0rem;
              width: calc(100% - 2.6rem);

              .delivered-gSD {
                flex-shrink: 0;
                font-size: 3.2rem;
                font-weight: 400;
                line-height: 0.5;
                text-transform: capitalize;
                font-family: Roboto, 'Source Sans Pro';
                margin: 0.1rem 1.8rem 0rem 0rem;
                display: flex;
                color: #333333;
                white-space: nowrap;
              }
              .home-1-zho {
                flex-shrink: 0;
                width: 2.0998rem;
                height: 2.1rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
          }
          .sub-link-YDX {
            width: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.25rem 0;

            .mail-1-gad {
              margin-right: 0.8rem;
              width: 2.1rem;
              height: 1.4766rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .nhn-cp-nht-trng-thi-DqT {
              text-transform: capitalize;
              color: #1176ae;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              font-weight: 400;
              font-size: 1.4rem;
              line-height: 1.1428571429;
              flex-shrink: 0;
              display: flex;
            }
          }
        }
        .frame-7148-jJ1 {
          flex-shrink: 0;
          margin-right: 24.6rem;
          width: 29.3rem;
          height: 100%;

          .delivery-status--G33 {
            margin-bottom: 2rem;
            display: flex;
            font-weight: 700;
            text-transform: uppercase;
            color: #333333;
            font-size: 1.6rem;
            line-height: 1;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .delivery-status-nGH {
            margin-bottom: 1.6rem;
            box-sizing: border-box;
            padding: 0.4rem 0;
            width: 18.3rem;

            .picked-up-vNV {
              color: #333333;
              font-family: Roboto, 'Source Sans Pro';
              max-width: 8.5rem;
              display: flex;
              font-size: 3.2rem;
              font-weight: 400;
              line-height: 0.5;
              text-transform: capitalize;
            }
          }
          .lc-13-50-f5B {
            color: #333333;
            margin-bottom: 0.3rem;
            display: flex;
            line-height: 1.5625;
            text-transform: capitalize;
            font-size: 3.2rem;
            font-weight: 300;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .khng-yu-cu-k-nhn-ca-trc-MTo {
            display: flex;
            font-size: 1.6rem;
            font-weight: 300;
            line-height: 3.125;
            color: #333333;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 0.5rem;
          }
          .sub-link-47K {
            width: calc(100% - 10.1rem);
            display: flex;
            align-items: center;
            margin-right: 10.1rem;
            box-sizing: border-box;
            padding: 0.25rem 0rem 0.25rem 0.263rem;

            .download-1-mXX {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.0625rem;
              width: 1.575rem;
              height: 1.4438rem;
            }
            .nhn-ho-n-giao-hng-nxR {
              font-weight: 400;
              line-height: 1.1428571429;
              font-family: Roboto, 'Source Sans Pro';
              flex-shrink: 0;
              font-size: 1.4rem;
              text-transform: capitalize;
              color: #1176ae;
              white-space: nowrap;
              display: flex;
            }
          }
        }
        .frame-7149-6iD {
          width: 27.8rem;
          flex-shrink: 0;

          .tracking-id-TYm {
            white-space: nowrap;
            margin-bottom: 1.95rem;
            display: flex;
            font-weight: 700;
            color: #333333;
            font-size: 1.6rem;
            line-height: 1;
            text-transform: uppercase;
            font-family: Roboto, 'Source Sans Pro';
          }
          .delivery-status-zHo {
            width: 100%;
            display: flex;
            align-items: center;

            .picked-up-wyj {
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              font-size: 3.2rem;
              font-weight: 400;
              color: #333333;
              flex-shrink: 0;
              margin: 0.1rem 1.6rem 0rem 0rem;
              line-height: 0.5;
              text-transform: capitalize;
            }
            .vector-Tx5 {
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 2.4rem;
              height: 2.4rem;
            }
          }
        }
      }
    }
    .auto-group-xxqy-zh7 {
      margin: 0rem 36.2rem 0rem 24rem;
      width: calc(100% - 60.2rem);
      height: 171.3rem;
      position: relative;
      flex-shrink: 0;

      .frame-7157-82d {
        width: 36.6rem;
        height: 53.9rem;
        position: absolute;
        left: 95.2rem;
        top: 1.2rem;

        .frame-7156-qxd {
          position: absolute;
          left: 3rem;
          top: 0.8rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 33.6rem;
          height: 53.1rem;

          .auto-group-aqgy-n7B {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0rem 3.6rem 5.6rem 3.6rem;
            width: 100%;
            row-gap: 7.6rem;
            display: flex;
            flex-direction: column;

            .value-VnH {
              flex-direction: column;
              flex-shrink: 0;
              display: flex;

              .delivery-status--TUD {
                white-space: nowrap;
                display: flex;
                font-weight: 700;
                line-height: 1;
                color: #333333;
                font-family: Roboto, 'Source Sans Pro';
                flex-shrink: 0;
                margin-bottom: 0.7rem;
                font-size: 1.6rem;
                text-transform: uppercase;
              }
              .inglewood-ca-us-P6y {
                color: #333333;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.3rem;
                display: flex;
                font-size: 1.6rem;
                font-weight: 300;
                line-height: 1.25;
              }
              .to-nhn-WBb {
                margin-bottom: 0.3rem;
                display: flex;
                line-height: 1.25;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                font-size: 1.6rem;
                font-weight: 300;
                color: #333333;
                flex-shrink: 0;
              }
              .monday-27-06-2022-03-42-RpM {
                color: #333333;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-size: 1.6rem;
                font-weight: 300;
                line-height: 1.25;
              }
            }
            .value-krd {
              width: 17.6rem;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .auto-group-gdkd-iHf {
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                box-sizing: border-box;
                padding-bottom: 0.3rem;

                .delivery-status--fTo {
                  margin-bottom: 0.7rem;
                  font-weight: 700;
                  color: #333333;
                  font-family: Roboto, 'Source Sans Pro';
                  display: flex;
                  font-size: 1.6rem;
                  line-height: 1;
                  text-transform: uppercase;
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .inglewood-ca-us-zky {
                  flex-shrink: 0;
                  display: flex;
                  font-size: 1.6rem;
                  font-weight: 300;
                  line-height: 1.25;
                  color: #333333;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
              .auto-group-xga5-Xku {
                display: flex;
                font-size: 1.6rem;
                line-height: 1.25;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                width: 100%;
                height: 2rem;
                font-weight: 300;
                color: #333333;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .value-dZ3 {
              width: 18.5rem;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .auto-group-ffmk-PYD {
                box-sizing: border-box;
                padding-bottom: 0.3rem;
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .delivery-status--YR7 {
                  font-weight: 700;
                  line-height: 1;
                  text-transform: uppercase;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  display: flex;
                  font-size: 1.6rem;
                  flex-shrink: 0;
                  margin-bottom: 0.7rem;
                  color: #333333;
                }
                .inglewood-ca-us-qv1 {
                  font-size: 1.6rem;
                  font-weight: 300;
                  line-height: 1.25;
                  color: #333333;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                }
              }
              .auto-group-w7ko-ymK {
                height: 2rem;
                display: flex;
                white-space: nowrap;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                width: 100%;
                font-weight: 300;
                line-height: 1.25;
                color: #333333;
                font-family: Roboto, 'Source Sans Pro';
                font-size: 1.6rem;
              }
            }
          }
          .value-HX7 {
            width: 100%;
            display: flex;
            flex-direction: column;
            background: linear-gradient(270deg, #f5f5f5 80.79%, rgba(245, 245, 245, 0) 102.05%);
            border-radius: 0 2rem 3rem 0;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 2rem 3.6rem 1.6rem 3.6rem;

            .delivery-status--R7X {
              margin-bottom: 0.7rem;
              font-weight: 700;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.6rem;
              line-height: 1;
              text-transform: uppercase;
              color: #333333;
            }
            .inglewood-ca-us-M1B {
              margin-bottom: 0.3rem;
              line-height: 1.25;
              display: flex;
              font-size: 1.6rem;
              font-weight: 300;
              color: #333333;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .auto-group-1nq9-sVK {
              height: 2rem;
              font-size: 1.6rem;
              line-height: 1.25;
              font-family: Roboto, 'Source Sans Pro';
              align-items: center;
              justify-content: center;
              flex-shrink: 0;
              width: 17.6rem;
              display: flex;
              font-weight: 300;
              color: #333333;
              white-space: nowrap;
            }
          }
        }
        .group-1-8AM {
          background-size: cover;
          box-sizing: border-box;
          padding: 46.3rem 1rem 1rem 1rem;
          height: 51.3rem;
          position: absolute;
          left: 0;
          top: 0;
          width: 6rem;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:6:6013');

          .vector-3o7 {
            width: 4rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .ellipse-2-ao3 {
          position: absolute;
          left: 2.7rem;
          top: 1.1rem;
          background-color: #fcd500;
          border-radius: 0.3rem;
          width: 0.6rem;
          height: 0.6rem;
        }
        .ellipse-3-72H {
          width: 0.6rem;
          height: 0.6rem;
          position: absolute;
          left: 2.7rem;
          top: 17.8rem;
          background-color: #fcd500;
          border-radius: 0.3rem;
        }
        .ellipse-4-S4Z {
          height: 0.6rem;
          position: absolute;
          left: 2.7rem;
          top: 32rem;
          background-color: #fcd500;
          border-radius: 0.3rem;
          width: 0.6rem;
        }
      }
      .frame-7174-xob {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 95.2008rem;
        height: 171.3rem;
        position: absolute;
        left: 0;
        top: 0;

        .frame-7169-2Hf {
          margin: 0rem 0rem 2.8rem 0.001rem;
          width: calc(100% - 0.0008rem);
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .frame-7165-wvR {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-bottom: 5.3rem;

            .thng-tin-l-hng-HjP {
              line-height: 2.0833333333;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              color: #333333;
              flex-shrink: 0;
              margin-bottom: 1.1rem;
              display: flex;
              font-size: 2.4rem;
              font-weight: 300;
              text-transform: capitalize;
            }
            .frame-7166-CrM {
              margin-bottom: 1.1rem;
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .delivery-status-Mz9 {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin: 0rem 75.1rem 1.1rem 0rem;
                box-sizing: border-box;
                padding-left: 0.0113rem;
                width: calc(100% - 75.1rem);

                .closed-cardboard-box-with-packing-tape-1-UYy {
                  width: 2.3774rem;
                  height: 2.4rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 1.6113rem;
                }
                .shipment-overview-137 {
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  text-transform: capitalize;
                  font-family: Roboto, 'Source Sans Pro';
                  color: #333333;
                  white-space: nowrap;
                  display: flex;
                  font-weight: 400;
                  line-height: 1;
                }
              }
              .frame-7164-87j {
                width: 100%;
                row-gap: 1.1rem;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .frame-7162-rpR {
                  box-sizing: border-box;
                  padding: 0.8rem 1.6rem;
                  width: 100%;
                  height: 3.2rem;
                  background-color: #fafafa;
                  flex-shrink: 0;

                  .frame-7161-CtH {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    width: 45.8rem;

                    .tracking-number-kuo {
                      font-weight: 700;
                      flex-shrink: 0;
                      color: #333333;
                      font-family: Roboto, 'Source Sans Pro';
                      white-space: nowrap;
                      margin-right: 20.2rem;
                      display: flex;
                      font-size: 1.6rem;
                      line-height: 1;
                      text-transform: uppercase;
                    }
                    .item-777496427531-HPw {
                      font-size: 1.6rem;
                      font-weight: 400;
                      line-height: 1;
                      text-transform: uppercase;
                      color: #333333;
                      font-family: Roboto, 'Source Sans Pro';
                      white-space: nowrap;
                      display: flex;
                      flex-shrink: 0;
                    }
                  }
                }
                .frame-7161-AyX {
                  width: calc(100% - 53.7rem);
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;
                  margin: 0rem 52.1rem 0rem 1.6rem;

                  .tracking-number-785 {
                    margin-right: 30.5rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                    font-size: 1.6rem;
                    line-height: 1;
                    color: #333333;
                  }
                  .item-777496427531-2kq {
                    font-weight: 400;
                    color: #333333;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                    font-size: 1.6rem;
                    line-height: 1;
                    text-transform: uppercase;
                  }
                }
                .frame-7164-x8h {
                  box-sizing: border-box;
                  padding: 0.8rem 1.6rem;
                  width: 100%;
                  height: 3.2rem;
                  background-color: #fafafa;
                  flex-shrink: 0;

                  .frame-7161-6Vo {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    width: 37rem;

                    .tracking-number-enD {
                      text-transform: uppercase;
                      color: #333333;
                      font-size: 1.6rem;
                      display: flex;
                      font-weight: 700;
                      line-height: 1;
                      font-family: Roboto, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      margin-right: 32.9rem;
                    }
                    .item-777496427531-zLH {
                      line-height: 1;
                      text-transform: uppercase;
                      color: #333333;
                      flex-shrink: 0;
                      display: flex;
                      font-weight: 400;
                      white-space: nowrap;
                      font-size: 1.6rem;
                      font-family: Roboto, 'Source Sans Pro';
                    }
                  }
                }
                .frame-7161-uy3 {
                  margin: 0rem 50rem 0rem 1.6rem;
                  width: calc(100% - 51.6rem);
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .tracking-number-Fn1 {
                    display: flex;
                    line-height: 1;
                    text-transform: uppercase;
                    font-family: Roboto, 'Source Sans Pro';
                    flex-shrink: 0;
                    margin-right: 22.6rem;
                    font-size: 1.6rem;
                    font-weight: 700;
                    color: #333333;
                    white-space: nowrap;
                  }
                  .item-777496427531-CBT {
                    flex-shrink: 0;
                    color: #333333;
                    font-family: Roboto, 'Source Sans Pro';
                    font-weight: 400;
                    line-height: 1;
                    text-transform: uppercase;
                    white-space: nowrap;
                    display: flex;
                    font-size: 1.6rem;
                  }
                }
                .frame-7166-8au {
                  box-sizing: border-box;
                  padding: 0.8rem 1.6rem;
                  width: 100%;
                  height: 3.2rem;
                  background-color: #fafafa;
                  flex-shrink: 0;

                  .frame-7161-tKB {
                    display: flex;
                    align-items: center;
                    width: 43.6rem;
                    height: 100%;

                    .tracking-number-r17 {
                      flex-shrink: 0;
                      font-weight: 700;
                      line-height: 1;
                      font-size: 1.6rem;
                      text-transform: uppercase;
                      color: #333333;
                      font-family: Roboto, 'Source Sans Pro';
                      white-space: nowrap;
                      margin-right: 20.9rem;
                      display: flex;
                    }
                    .item-777496427531-P13 {
                      display: flex;
                      font-weight: 400;
                      line-height: 1;
                      text-transform: uppercase;
                      flex-shrink: 0;
                      font-size: 1.6rem;
                      color: #333333;
                      font-family: Roboto, 'Source Sans Pro';
                      white-space: nowrap;
                    }
                  }
                }
              }
            }
            .frame-7167-J81 {
              margin-bottom: 1.9rem;
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .delivery-status-Szu {
                width: calc(100% - 84rem);
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin: 0rem 84rem 1.1rem 0rem;
                box-sizing: border-box;
                padding: 0.4rem 0;

                .fast-delivery-1-yV3 {
                  margin: 0rem 1.6rem 0.005rem 0rem;
                  width: 2.4rem;
                  height: 1.4203rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .services-tru {
                  display: flex;
                  line-height: 1;
                  text-transform: capitalize;
                  color: #333333;
                  font-family: Roboto, 'Source Sans Pro';
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 400;
                  white-space: nowrap;
                }
              }
              .frame-7164-S7j {
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .frame-7162-nxH {
                  flex-shrink: 0;
                  margin-bottom: 1.1rem;
                  box-sizing: border-box;
                  padding: 0.8rem 1.6rem;
                  width: 100%;
                  height: 3.2rem;
                  background-color: #fafafa;

                  .frame-7161-Xey {
                    width: 45.3rem;
                    height: 100%;
                    display: flex;
                    align-items: center;

                    .tracking-number-syj {
                      margin-right: 28.4rem;
                      font-size: 1.6rem;
                      font-weight: 700;
                      line-height: 1;
                      text-transform: uppercase;
                      color: #333333;
                      font-family: Roboto, 'Source Sans Pro';
                      white-space: nowrap;
                      display: flex;
                      flex-shrink: 0;
                    }
                    .item-777496427531-QCy {
                      flex-shrink: 0;
                      display: flex;
                      font-size: 1.6rem;
                      font-weight: 400;
                      line-height: 1;
                      color: #333333;
                      font-family: Roboto, 'Source Sans Pro';
                      white-space: nowrap;
                    }
                  }
                }
                .frame-7161-XYV {
                  margin: 0rem 51.4rem 0rem 1.6rem;
                  width: calc(100% - 53rem);
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .tracking-number-fPo {
                    flex-shrink: 0;
                    font-weight: 700;
                    line-height: 1;
                    white-space: nowrap;
                    text-transform: uppercase;
                    color: #333333;
                    font-family: Roboto, 'Source Sans Pro';
                    margin-right: 25rem;
                    display: flex;
                    font-size: 1.6rem;
                  }
                  .item-777496427531-zS5 {
                    display: flex;
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1;
                    color: #333333;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                }
              }
            }
            .frame-7168-82V {
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .delivery-status-HRB {
                box-sizing: border-box;
                padding-left: 0.3rem;
                width: calc(100% - 77.6rem);
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin: 0rem 77.6rem 1.1rem 0rem;

                .shopping-list-1-Azm {
                  margin-right: 1.9rem;
                  width: 1.8rem;
                  height: 2.4rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .package-details-WHw {
                  display: flex;
                  color: #333333;
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1;
                  text-transform: capitalize;
                  font-family: Roboto, 'Source Sans Pro';
                }
              }
              .frame-7164-ppR {
                row-gap: 1.1rem;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                width: 100%;

                .frame-7162-mDs {
                  box-sizing: border-box;
                  padding: 0.8rem 1.6rem;
                  width: 100%;
                  height: 3.2rem;
                  background-color: #fafafa;
                  flex-shrink: 0;

                  .frame-7161-JzV {
                    width: 41.2rem;
                    height: 100%;
                    display: flex;
                    align-items: center;

                    .tracking-number-Fuj {
                      font-weight: 700;
                      white-space: nowrap;
                      flex-shrink: 0;
                      margin-right: 26.1rem;
                      display: flex;
                      font-size: 1.6rem;
                      font-family: Roboto, 'Source Sans Pro';
                      line-height: 1;
                      text-transform: uppercase;
                      color: #333333;
                    }
                    .item-777496427531-bCu {
                      color: #333333;
                      font-family: Roboto, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      display: flex;
                      font-size: 1.6rem;
                      font-weight: 400;
                      line-height: 1;
                    }
                  }
                }
                .frame-7161-X6Z {
                  margin: 0rem 49.4rem 0rem 1.6rem;
                  width: calc(100% - 51rem);
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .tracking-number-TW1 {
                    text-transform: uppercase;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                    font-size: 1.6rem;
                    font-weight: 700;
                    line-height: 1;
                    color: #333333;
                    margin-right: 23.1rem;
                  }
                  .item-777496427531-o45 {
                    display: flex;
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1;
                    color: #333333;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                }
                .frame-7164-LJu {
                  background-color: #fafafa;
                  flex-shrink: 0;
                  box-sizing: border-box;
                  padding: 0.8rem 1.6rem;
                  width: 100%;
                  height: 3.2rem;

                  .frame-7161-tLR {
                    display: flex;
                    align-items: center;
                    width: 43.2rem;
                    height: 100%;

                    .tracking-number-Ssj {
                      display: flex;
                      font-size: 1.6rem;
                      line-height: 1;
                      color: #333333;
                      white-space: nowrap;
                      margin-right: 25rem;
                      font-weight: 700;
                      text-transform: uppercase;
                      font-family: Roboto, 'Source Sans Pro';
                      flex-shrink: 0;
                    }
                    .item-777496427531-nwb {
                      line-height: 1;
                      color: #333333;
                      font-family: Roboto, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      display: flex;
                      font-size: 1.6rem;
                      font-weight: 400;
                    }
                  }
                }
                .frame-7161-XuB {
                  flex-shrink: 0;
                  margin: 0rem 57.7rem 0rem 1.6rem;
                  width: calc(100% - 59.3rem);
                  display: flex;
                  align-items: center;

                  .tracking-number-si9 {
                    margin-right: 21.4rem;
                    display: flex;
                    line-height: 1;
                    color: #333333;
                    font-size: 1.6rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                  .item-777496427531-p7b {
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1;
                    color: #333333;
                  }
                }
              }
            }
          }
          .rectangle-5316-8e5 {
            width: 100%;
            height: 0.2rem;
            background-color: #f2f2f2;
            flex-shrink: 0;
          }
        }
        .frame-7175-VDj {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 100%;
          align-items: center;

          .frame-7173-FTo {
            height: 6.4rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-bottom: 0.8rem;
            width: 100%;

            .lch-s-di-chuyn-Cdw {
              text-transform: capitalize;
              color: #333333;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              font-size: 2.4rem;
              display: flex;
              font-weight: 300;
              line-height: 2.0833333333;
              flex-shrink: 0;
              margin-right: 14.1rem;
            }
            .frame-7172-XRK {
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .frame-7151-gZ7 {
                box-sizing: border-box;
                padding: 0.85rem 1.8rem 0.8rem 1.8rem;
                height: 100%;
                background-color: #f2f2f2;
                border-radius: 0.8rem;
                margin-right: 1.6rem;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .frame-7171-Qk1 {
                  margin-right: 5rem;
                  height: 100%;
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;

                  .sp-xp-theo-ngy-gi-NB3 {
                    line-height: 1;
                    text-transform: uppercase;
                    color: #333333;
                    font-family: Roboto, 'Source Sans Pro';
                    font-size: 1.6rem;
                    display: flex;
                    font-weight: 700;
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-bottom: 0.75rem;
                  }
                  .tng-dn-ghX {
                    color: #959ea7;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                    font-size: 2rem;
                    font-weight: 400;
                    line-height: 1.1725;
                  }
                }
                .vector-EDF {
                  margin-bottom: 0.05rem;
                  width: 1.3504rem;
                  height: 0.7933rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
              .frame-7171-MYm {
                align-items: center;
                background-color: #f2f2f2;
                border-radius: 0.8rem;
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 0.85rem 1.8rem 0.8rem 1.8rem;
                height: 100%;
                display: flex;

                .frame-7171-tYh {
                  margin-right: 6.5rem;
                  height: 100%;
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;

                  .mi-gi-e25 {
                    font-weight: 700;
                    color: #333333;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    margin-bottom: 0.75rem;
                    display: flex;
                    font-size: 1.6rem;
                    line-height: 1;
                    text-transform: uppercase;
                    flex-shrink: 0;
                  }
                  .gi-qut-a-phng-mMb {
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                    font-size: 2rem;
                    font-weight: 400;
                    line-height: 1.1725;
                    color: #959ea7;
                  }
                }
                .vector-J6d {
                  margin-bottom: 0.05rem;
                  width: 1.3504rem;
                  height: 0.7933rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
            }
          }
          .image-4-RS9 {
            margin-right: 0.0008rem;
            width: 95.2rem;
            height: 63.8rem;
            position: relative;
            background-size: 107.248% 116.77%;
            background-position: -3.6rem -10.6994rem;
            background-image: url('REPLACE_IMAGE:cd7fe22a5f5b1d2f764f7c6e80b86b6b621e38b6');
            flex-shrink: 0;
          }
        }
        .auto-group-anyf-JVw {
          height: 36.4rem;
          position: relative;
          flex-shrink: 0;
          width: 100%;

          .sub-link-SMF {
            box-sizing: border-box;
            padding: 0.25rem 0rem 0.25rem 0.6rem;
            width: 10.6rem;
            height: 2.1rem;
            left: 83.2008rem;
            display: flex;
            position: absolute;
            top: 2rem;
            align-items: center;

            .download-1-LxR {
              margin: 0rem 1.4rem 0.1rem 0rem;
              width: 0.9rem;
              height: 1.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .back-to-top-fzh {
              font-weight: 400;
              line-height: 1.1428571429;
              text-transform: capitalize;
              color: #1176ae;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              flex-shrink: 0;
              font-size: 1.4rem;
            }
          }
          .rectangle-5316-bdT {
            top: 6.1rem;
            background-color: #f2f2f2;
            width: 95.2rem;
            height: 0.2rem;
            position: absolute;
            left: 0.0008rem;
          }
          .frame-7176-L5F {
            height: 20.65rem;
            position: absolute;
            left: 0.0008rem;
            top: 8.1rem;
            width: 27.8rem;

            .danh-sch-theo-di-4G9 {
              font-size: 2.4rem;
              text-transform: capitalize;
              color: #333333;
              margin-bottom: 1.2rem;
              display: flex;
              font-weight: 300;
              line-height: 2.0833333333;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
            }
            .frame-7149-Bbf {
              width: 100%;
              display: flex;
              flex-direction: column;
              margin-bottom: 2.55rem;

              .tracking-id-8G1 {
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 1;
                flex-shrink: 0;
                margin-bottom: 1.95rem;
                display: flex;
                text-transform: uppercase;
                color: #333333;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
              }
              .delivery-status-rxh {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                width: 100%;

                .picked-up-DYM {
                  margin: 0.1rem 1.6rem 0rem 0rem;
                  font-weight: 400;
                  text-transform: capitalize;
                  white-space: nowrap;
                  display: flex;
                  font-size: 3.2rem;
                  line-height: 0.5;
                  color: #333333;
                  font-family: Roboto, 'Source Sans Pro';
                  flex-shrink: 0;
                }
                .vector-wDT {
                  width: 2.4rem;
                  height: 2.4rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
            }
            .frame-7174-H2R {
              width: 100%;
              display: flex;
              flex-direction: column;

              .tracking-id-e7s {
                margin-bottom: 1.95rem;
                font-size: 1.6rem;
                text-transform: uppercase;
                color: #333333;
                flex-shrink: 0;
                display: flex;
                font-weight: 700;
                line-height: 1;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
              }
              .delivery-status-aGR {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                width: 100%;

                .us00000003831-w6y {
                  line-height: 0.5;
                  white-space: nowrap;
                  margin: 0.1rem 1.6rem 0rem 0rem;
                  display: flex;
                  font-size: 3.2rem;
                  font-weight: 400;
                  text-transform: capitalize;
                  color: #333333;
                  font-family: Roboto, 'Source Sans Pro';
                  flex-shrink: 0;
                }
                .vector-FdT {
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 2.4rem;
                  height: 2.4rem;
                }
              }
            }
          }
          .sub-link-o9B {
            box-sizing: border-box;
            padding: 0.25rem 0rem 0.25rem 0.6rem;
            width: 10.6rem;
            height: 2.1rem;
            position: absolute;
            top: 32.1rem;
            align-items: center;
            left: 83.2008rem;
            display: flex;

            .download-1-W3b {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 1.4rem 0.1rem 0rem;
              width: 0.9rem;
              height: 1.4rem;
            }
            .back-to-top-dP7 {
              line-height: 1.1428571429;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              font-size: 1.4rem;
              font-weight: 400;
              text-transform: capitalize;
              color: #1176ae;
              flex-shrink: 0;
            }
          }
          .rectangle-5317-AP3 {
            position: absolute;
            left: 0.0008rem;
            top: 36.2rem;
            background-color: #f2f2f2;
            width: 95.2rem;
            height: 0.2rem;
          }
        }
      }
    }
  }
}
