
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.tracking-szZ {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;

  .header-dD3 {
    background-color: #21235b;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.55rem 24rem;
    width: 100%;
    height: 7.5rem;

    .frame-7155-dkm {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .frame-yZj {
        width: 16.3rem;
        height: 4.4rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 81.3rem;
      }
      .frame-7154-hkd {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .frame-7151-eQy {
          background-color: #ffffff;
          border-radius: 0.8rem;
          margin-right: 2.4rem;
          height: 100%;
          display: flex;
          border: solid 0.1rem #fcd500;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.3rem 1.151rem 1.351rem 0.9rem;
          align-items: center;

          .us00000000031-Znq {
            display: flex;
            font-size: 2rem;
            line-height: 0.8;
            color: #333333;
            flex-shrink: 0;
            margin: 0.051rem 15.1rem 0rem 0rem;
            font-weight: 400;
            text-transform: capitalize;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .icons-search24px-BSq {
            width: 1.749rem;
            height: 1.749rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .frame-7152-GDP {
          align-items: center;
          justify-content: center;
          font-weight: 700;
          line-height: 1;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          width: 10.2rem;
          height: 100%;
          background-color: #fcd500;
          font-size: 1.6rem;
          color: #21235b;
          border-radius: 0.8rem;
          display: flex;
          text-transform: capitalize;
          white-space: nowrap;
        }
      }
    }
  }
  .auto-group-5s9f-v33 {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding-bottom: 13.5rem;
    width: 100%;
    align-items: center;
    display: flex;

    .auto-group-ck61-THs {
      padding: 4.9rem 42.2rem 1.6rem 24rem;
      width: 191.9rem;
      height: 27rem;
      background-color: #fafafa;
      flex-shrink: 0;
      margin-right: 0.1rem;
      box-sizing: border-box;

      .frame-7150-Me9 {
        display: flex;
        align-items: flex-start;
        width: 100%;
        height: 100%;

        .value-K5B {
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 24.2rem;
          width: 19.8rem;
          align-items: center;
          display: flex;

          .auto-group-vgqf-S9o {
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-bottom: 1.8rem;
            width: 100%;
            display: flex;

            .delivery-status--aG1 {
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              font-weight: 700;
              text-transform: uppercase;
              color: #333333;
              line-height: 1;
              flex-shrink: 0;
              margin-bottom: 2rem;
              display: flex;
              font-size: 1.6rem;
            }
            .delivery-status-5Tf {
              padding: 0.1rem 0.1rem 0.2rem 0rem;
              width: calc(100% - 2.6rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-right: 2.6rem;
              box-sizing: border-box;

              .delivered-Pz9 {
                margin: 0.1rem 1.8rem 0rem 0rem;
                display: flex;
                text-transform: capitalize;
                color: #333333;
                white-space: nowrap;
                font-size: 3.2rem;
                font-weight: 400;
                line-height: 0.5;
                font-family: Roboto, 'Source Sans Pro';
                flex-shrink: 0;
              }
              .home-1-hzq {
                width: 2.0998rem;
                height: 2.1rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
          .sub-link-eQH {
            width: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.25rem 0;

            .mail-1-zj3 {
              width: 2.1rem;
              height: 1.4766rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.8rem;
            }
            .nhn-cp-nht-trng-thi-LH7 {
              line-height: 1.1428571429;
              color: #1176ae;
              flex-shrink: 0;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              font-size: 1.4rem;
              font-weight: 400;
              text-transform: capitalize;
            }
          }
        }
        .frame-7148-pCH {
          margin-right: 24.6rem;
          width: 29.3rem;
          height: 100%;
          flex-shrink: 0;

          .delivery-status--9kM {
            display: flex;
            font-size: 1.6rem;
            line-height: 1;
            color: #333333;
            font-family: Roboto, 'Source Sans Pro';
            margin-bottom: 2rem;
            font-weight: 700;
            text-transform: uppercase;
            white-space: nowrap;
          }
          .delivery-status-V3X {
            padding: 0.4rem 0;
            width: 18.3rem;
            margin-bottom: 1.6rem;
            box-sizing: border-box;

            .picked-up-RSy {
              max-width: 8.5rem;
              display: flex;
              font-size: 3.2rem;
              font-weight: 400;
              line-height: 0.5;
              text-transform: capitalize;
              color: #333333;
              font-family: Roboto, 'Source Sans Pro';
            }
          }
          .lc-13-50-xho {
            display: flex;
            font-size: 3.2rem;
            font-weight: 300;
            color: #333333;
            white-space: nowrap;
            margin-bottom: 0.3rem;
            line-height: 1.5625;
            text-transform: capitalize;
            font-family: Roboto, 'Source Sans Pro';
          }
          .khng-yu-cu-k-nhn-ca-trc-GiV {
            display: flex;
            font-size: 1.6rem;
            font-weight: 300;
            line-height: 3.125;
            color: #333333;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 0.5rem;
          }
          .sub-link-ZxV {
            width: calc(100% - 10.1rem);
            display: flex;
            align-items: center;
            margin-right: 10.1rem;
            box-sizing: border-box;
            padding: 0.25rem 0rem 0.25rem 0.263rem;

            .download-1-VbF {
              margin-right: 1.0625rem;
              width: 1.575rem;
              height: 1.4438rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .nhn-ho-n-giao-hng-Rzh {
              font-weight: 400;
              color: #1176ae;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              font-size: 1.4rem;
              line-height: 1.1428571429;
              text-transform: capitalize;
              flex-shrink: 0;
            }
          }
        }
        .frame-7149-jkV {
          width: 27.8rem;
          flex-shrink: 0;

          .tracking-id-hSR {
            font-weight: 700;
            line-height: 1;
            text-transform: uppercase;
            white-space: nowrap;
            display: flex;
            font-size: 1.6rem;
            font-family: Roboto, 'Source Sans Pro';
            margin-bottom: 2.05rem;
            color: #333333;
          }
          .delivery-status-DvZ {
            width: 100%;
            display: flex;
            align-items: center;

            .us00000000031-BcV {
              display: flex;
              font-size: 3.2rem;
              line-height: 0.5;
              white-space: nowrap;
              margin-right: 1.6rem;
              text-transform: capitalize;
              color: #333333;
              font-family: Roboto, 'Source Sans Pro';
              flex-shrink: 0;
              font-weight: 400;
            }
            .vector-Wem {
              height: 2.3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 2.4rem;
            }
          }
        }
      }
    }
    .auto-group-rzhb-3Po {
      margin: 0rem 36.2rem 0rem 24rem;
      width: calc(100% - 60.2rem);
      height: 160.1rem;
      position: relative;
      flex-shrink: 0;

      .frame-7157-ZN9 {
        width: 36.6rem;
        height: 55.1rem;
        position: absolute;
        left: 95.2rem;
        top: 0;

        .frame-7156-t9X {
          position: absolute;
          left: 3rem;
          top: 0;
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 33.6rem;
          height: 55.1rem;

          .value-c5X {
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 2rem 3.6rem 1.6rem 3.6rem;
            width: 100%;
            display: flex;

            .delivery-status--jR3 {
              font-weight: 700;
              line-height: 1;
              text-transform: uppercase;
              white-space: nowrap;
              display: flex;
              font-size: 1.6rem;
              color: #333333;
              font-family: Roboto, 'Source Sans Pro';
              flex-shrink: 0;
              margin-bottom: 0.7rem;
            }
            .inglewood-ca-us-s1T {
              font-size: 1.6rem;
              line-height: 1.25;
              flex-shrink: 0;
              color: #333333;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 0.3rem;
              display: flex;
              font-weight: 300;
            }
            .to-nhn-BH3 {
              font-weight: 300;
              line-height: 1.25;
              color: #333333;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 0.3rem;
              display: flex;
              font-size: 1.6rem;
              flex-shrink: 0;
            }
            .monday-27-06-2022-03-42-5tD {
              color: #333333;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.6rem;
              font-weight: 300;
              line-height: 1.25;
            }
          }
          .auto-group-3ach-pL1 {
            box-sizing: border-box;
            padding: 6rem 3.6rem 5.6rem 3.6rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .value-xSD {
              margin-bottom: 7.6rem;
              width: 17.6rem;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .auto-group-6drt-Jky {
                padding-bottom: 0.3rem;
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                box-sizing: border-box;

                .delivery-status--FgD {
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  font-size: 1.6rem;
                  font-weight: 700;
                  line-height: 1;
                  text-transform: uppercase;
                  color: #333333;
                  flex-shrink: 0;
                  margin-bottom: 0.7rem;
                  display: flex;
                }
                .inglewood-ca-us-nRF {
                  font-size: 1.6rem;
                  font-weight: 300;
                  line-height: 1.25;
                  color: #333333;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                }
              }
              .auto-group-ej8h-iph {
                display: flex;
                font-size: 1.6rem;
                line-height: 1.25;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                width: 100%;
                height: 2rem;
                font-weight: 300;
                color: #333333;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .value-SEu {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              width: 18.5rem;
              align-items: center;

              .auto-group-7fn9-Pvq {
                box-sizing: border-box;
                padding-bottom: 0.3rem;
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .delivery-status--9QD {
                  font-weight: 700;
                  line-height: 1;
                  text-transform: uppercase;
                  font-family: Roboto, 'Source Sans Pro';
                  flex-shrink: 0;
                  margin-bottom: 0.7rem;
                  font-size: 1.6rem;
                  white-space: nowrap;
                  display: flex;
                  color: #333333;
                }
                .inglewood-ca-us-erm {
                  color: #333333;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  font-size: 1.6rem;
                  font-weight: 300;
                  line-height: 1.25;
                }
              }
              .auto-group-iwk9-nTB {
                line-height: 1.25;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                height: 2rem;
                display: flex;
                font-size: 1.6rem;
                font-weight: 300;
                color: #333333;
                width: 100%;
              }
            }
          }
          .value-Huj {
            box-sizing: border-box;
            padding: 2rem 3.6rem 1.6rem 3.6rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            background: linear-gradient(270deg, #f5f5f5 80.79%, rgba(245, 245, 245, 0) 102.05%);
            border-radius: 0 2rem 3rem 0;
            flex-shrink: 0;

            .delivery-status--dTo {
              color: #333333;
              font-family: Roboto, 'Source Sans Pro';
              text-transform: uppercase;
              display: flex;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1;
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.7rem;
            }
            .inglewood-ca-us-ATj {
              color: #333333;
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.3rem;
              display: flex;
              font-size: 1.6rem;
              font-weight: 300;
              line-height: 1.25;
              font-family: Roboto, 'Source Sans Pro';
            }
            .auto-group-fnfs-tuX {
              width: 17.6rem;
              height: 2rem;
              display: flex;
              font-size: 1.6rem;
              font-weight: 300;
              line-height: 1.25;
              color: #333333;
              justify-content: center;
              flex-shrink: 0;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              align-items: center;
            }
          }
        }
        .group-1-Kzq {
          top: 1.2rem;
          background-size: cover;
          background-repeat: no-repeat;
          box-sizing: border-box;
          width: 6rem;
          height: 51.3rem;
          position: absolute;
          left: 0;
          background-position: center;
          background-image: url('REPLACE_IMAGE:6:5296');
          padding: 46.3rem 1rem 1rem 1rem;

          .vector-eGR {
            width: 4rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .ellipse-2-NiD {
          top: 2.3rem;
          background-color: #fcd500;
          border-radius: 0.3rem;
          width: 0.6rem;
          height: 0.6rem;
          position: absolute;
          left: 2.7rem;
        }
        .ellipse-3-tgZ {
          position: absolute;
          left: 2.7rem;
          top: 19rem;
          background-color: #fcd500;
          border-radius: 0.3rem;
          width: 0.6rem;
          height: 0.6rem;
        }
        .ellipse-4-RgV {
          width: 0.6rem;
          height: 0.6rem;
          position: absolute;
          left: 2.7rem;
          top: 33.2rem;
          background-color: #fcd500;
          border-radius: 0.3rem;
        }
      }
      .frame-7174-xgR {
        display: flex;
        flex-direction: column;
        width: 95.2008rem;
        height: 160.1rem;
        position: absolute;
        left: 0;
        top: 0;
        align-items: center;

        .frame-7169-VAZ {
          margin: 0rem 0rem 2.8rem 0.001rem;
          width: calc(100% - 0.0008rem);
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .frame-7165-oh3 {
            margin-bottom: 5.3rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .thng-tin-l-hng-ZAR {
              margin-bottom: 1.1rem;
              display: flex;
              line-height: 2.0833333333;
              text-transform: capitalize;
              flex-shrink: 0;
              font-size: 2.4rem;
              font-weight: 300;
              color: #333333;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
            }
            .frame-7166-5Pf {
              flex-shrink: 0;
              margin-bottom: 1.1rem;
              width: 100%;
              display: flex;
              flex-direction: column;

              .delivery-status-RyK {
                box-sizing: border-box;
                padding-left: 0.0113rem;
                width: calc(100% - 75.1rem);
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin: 0rem 75.1rem 1.1rem 0rem;

                .closed-cardboard-box-with-packing-tape-1-MMB {
                  margin-right: 1.6113rem;
                  width: 2.3774rem;
                  height: 2.4rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .shipment-overview-sqK {
                  line-height: 1;
                  white-space: nowrap;
                  font-weight: 400;
                  text-transform: capitalize;
                  color: #333333;
                  font-family: Roboto, 'Source Sans Pro';
                  flex-shrink: 0;
                  display: flex;
                  font-size: 1.6rem;
                }
              }
              .frame-7164-c2D {
                flex-direction: column;
                flex-shrink: 0;
                width: 100%;
                row-gap: 1.1rem;
                display: flex;

                .frame-7162-YgZ {
                  box-sizing: border-box;
                  padding: 0.8rem 1.6rem;
                  width: 100%;
                  height: 3.2rem;
                  background-color: #fafafa;
                  flex-shrink: 0;

                  .frame-7161-tEd {
                    width: 45.8rem;
                    height: 100%;
                    display: flex;
                    align-items: center;

                    .tracking-number-S1F {
                      flex-shrink: 0;
                      font-size: 1.6rem;
                      font-weight: 700;
                      text-transform: uppercase;
                      color: #333333;
                      font-family: Roboto, 'Source Sans Pro';
                      white-space: nowrap;
                      margin-right: 20.2rem;
                      display: flex;
                      line-height: 1;
                    }
                    .item-777496427531-m3X {
                      display: flex;
                      font-size: 1.6rem;
                      font-weight: 400;
                      text-transform: uppercase;
                      font-family: Roboto, 'Source Sans Pro';
                      white-space: nowrap;
                      line-height: 1;
                      color: #333333;
                      flex-shrink: 0;
                    }
                  }
                }
                .frame-7161-scM {
                  flex-shrink: 0;
                  margin: 0rem 52.1rem 0rem 1.6rem;
                  width: calc(100% - 53.7rem);
                  display: flex;
                  align-items: center;

                  .tracking-number-CPj {
                    white-space: nowrap;
                    display: flex;
                    line-height: 1;
                    text-transform: uppercase;
                    color: #333333;
                    flex-shrink: 0;
                    margin-right: 30.5rem;
                    font-size: 1.6rem;
                    font-weight: 700;
                    font-family: Roboto, 'Source Sans Pro';
                  }
                  .item-777496427531-XB7 {
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    font-weight: 400;
                    line-height: 1;
                    text-transform: uppercase;
                    color: #333333;
                    flex-shrink: 0;
                    display: flex;
                    font-size: 1.6rem;
                  }
                }
                .frame-7164-qhb {
                  box-sizing: border-box;
                  padding: 0.8rem 1.6rem;
                  width: 100%;
                  height: 3.2rem;
                  background-color: #fafafa;
                  flex-shrink: 0;

                  .frame-7161-zKb {
                    width: 37rem;
                    height: 100%;
                    display: flex;
                    align-items: center;

                    .tracking-number-9TP {
                      margin-right: 32.9rem;
                      line-height: 1;
                      color: #333333;
                      font-family: Roboto, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      display: flex;
                      font-size: 1.6rem;
                      font-weight: 700;
                      text-transform: uppercase;
                    }
                    .item-777496427531-V1T {
                      font-size: 1.6rem;
                      text-transform: uppercase;
                      font-family: Roboto, 'Source Sans Pro';
                      display: flex;
                      line-height: 1;
                      color: #333333;
                      white-space: nowrap;
                      flex-shrink: 0;
                      font-weight: 400;
                    }
                  }
                }
                .frame-7161-DCM {
                  margin: 0rem 50rem 0rem 1.6rem;
                  width: calc(100% - 51.6rem);
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .tracking-number-Lnm {
                    margin-right: 22.6rem;
                    font-weight: 700;
                    line-height: 1;
                    display: flex;
                    font-size: 1.6rem;
                    text-transform: uppercase;
                    color: #333333;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                  .item-777496427531-gLq {
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1;
                    color: #333333;
                    display: flex;
                    text-transform: uppercase;
                    font-family: Roboto, 'Source Sans Pro';
                  }
                }
                .frame-7166-D5s {
                  flex-shrink: 0;
                  box-sizing: border-box;
                  padding: 0.8rem 1.6rem;
                  width: 100%;
                  height: 3.2rem;
                  background-color: #fafafa;

                  .frame-7161-Mhs {
                    width: 43.6rem;
                    height: 100%;
                    display: flex;
                    align-items: center;

                    .tracking-number-hWq {
                      flex-shrink: 0;
                      margin-right: 20.9rem;
                      font-size: 1.6rem;
                      text-transform: uppercase;
                      white-space: nowrap;
                      font-family: Roboto, 'Source Sans Pro';
                      display: flex;
                      font-weight: 700;
                      line-height: 1;
                      color: #333333;
                    }
                    .item-777496427531-dQV {
                      font-family: Roboto, 'Source Sans Pro';
                      white-space: nowrap;
                      font-weight: 400;
                      text-transform: uppercase;
                      color: #333333;
                      flex-shrink: 0;
                      display: flex;
                      font-size: 1.6rem;
                      line-height: 1;
                    }
                  }
                }
              }
            }
            .frame-7167-LZo {
              margin-bottom: 1.9rem;
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .delivery-status-tbK {
                width: calc(100% - 84rem);
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin: 0rem 84rem 1.1rem 0rem;
                box-sizing: border-box;
                padding: 0.4rem 0;

                .fast-delivery-1-DNh {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 1.6rem 0.005rem 0rem;
                  width: 2.4rem;
                  height: 1.4203rem;
                  object-fit: contain;
                }
                .services-jrq {
                  display: flex;
                  font-size: 1.6rem;
                  line-height: 1;
                  text-transform: capitalize;
                  font-weight: 400;
                  color: #333333;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .frame-7164-gGH {
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .frame-7162-3Mj {
                  padding: 0.8rem 1.6rem;
                  width: 100%;
                  height: 3.2rem;
                  background-color: #fafafa;
                  flex-shrink: 0;
                  margin-bottom: 1.1rem;
                  box-sizing: border-box;

                  .frame-7161-z25 {
                    align-items: center;
                    width: 45.3rem;
                    height: 100%;
                    display: flex;

                    .tracking-number-Lrd {
                      white-space: nowrap;
                      margin-right: 28.4rem;
                      font-size: 1.6rem;
                      font-weight: 700;
                      line-height: 1;
                      text-transform: uppercase;
                      color: #333333;
                      font-family: Roboto, 'Source Sans Pro';
                      display: flex;
                      flex-shrink: 0;
                    }
                    .item-777496427531-UT3 {
                      flex-shrink: 0;
                      display: flex;
                      font-size: 1.6rem;
                      font-weight: 400;
                      line-height: 1;
                      color: #333333;
                      font-family: Roboto, 'Source Sans Pro';
                      white-space: nowrap;
                    }
                  }
                }
                .frame-7161-zAV {
                  margin: 0rem 51.4rem 0rem 1.6rem;
                  width: calc(100% - 53rem);
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .tracking-number-81o {
                    flex-shrink: 0;
                    display: flex;
                    font-size: 1.6rem;
                    font-weight: 700;
                    line-height: 1;
                    text-transform: uppercase;
                    color: #333333;
                    font-family: Roboto, 'Source Sans Pro';
                    margin-right: 25rem;
                    white-space: nowrap;
                  }
                  .item-777496427531-ekq {
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1;
                    color: #333333;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                  }
                }
              }
            }
            .frame-7168-n6M {
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .delivery-status-YLR {
                box-sizing: border-box;
                padding-left: 0.3rem;
                width: calc(100% - 77.6rem);
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin: 0rem 77.6rem 1.1rem 0rem;

                .shopping-list-1-poj {
                  width: 1.8rem;
                  height: 2.4rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 1.9rem;
                }
                .package-details-ZFX {
                  flex-shrink: 0;
                  display: flex;
                  line-height: 1;
                  text-transform: capitalize;
                  color: #333333;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  font-size: 1.6rem;
                  font-weight: 400;
                }
              }
              .frame-7164-gb3 {
                width: 100%;
                row-gap: 1.1rem;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .frame-7162-cUh {
                  box-sizing: border-box;
                  padding: 0.8rem 1.6rem;
                  width: 100%;
                  height: 3.2rem;
                  background-color: #fafafa;
                  flex-shrink: 0;

                  .frame-7161-9zR {
                    display: flex;
                    align-items: center;
                    width: 41.2rem;
                    height: 100%;

                    .tracking-number-WKB {
                      text-transform: uppercase;
                      margin-right: 26.1rem;
                      font-weight: 700;
                      line-height: 1;
                      font-family: Roboto, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      display: flex;
                      font-size: 1.6rem;
                      color: #333333;
                    }
                    .item-777496427531-34D {
                      font-size: 1.6rem;
                      font-weight: 400;
                      line-height: 1;
                      color: #333333;
                      font-family: Roboto, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      display: flex;
                    }
                  }
                }
                .frame-7161-ZoF {
                  margin: 0rem 49.4rem 0rem 1.6rem;
                  width: calc(100% - 51rem);
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .tracking-number-Vwo {
                    margin-right: 23.1rem;
                    font-weight: 700;
                    line-height: 1;
                    white-space: nowrap;
                    display: flex;
                    font-size: 1.6rem;
                    text-transform: uppercase;
                    color: #333333;
                    font-family: Roboto, 'Source Sans Pro';
                    flex-shrink: 0;
                  }
                  .item-777496427531-SMF {
                    line-height: 1;
                    color: #333333;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                    font-size: 1.6rem;
                    font-weight: 400;
                  }
                }
                .frame-7164-yc5 {
                  height: 3.2rem;
                  background-color: #fafafa;
                  flex-shrink: 0;
                  box-sizing: border-box;
                  padding: 0.8rem 1.6rem;
                  width: 100%;

                  .frame-7161-Xdb {
                    width: 43.2rem;
                    height: 100%;
                    display: flex;
                    align-items: center;

                    .tracking-number-gmP {
                      text-transform: uppercase;
                      color: #333333;
                      white-space: nowrap;
                      font-weight: 700;
                      line-height: 1;
                      font-size: 1.6rem;
                      font-family: Roboto, 'Source Sans Pro';
                      flex-shrink: 0;
                      margin-right: 25rem;
                      display: flex;
                    }
                    .item-777496427531-DWR {
                      font-size: 1.6rem;
                      font-weight: 400;
                      line-height: 1;
                      color: #333333;
                      font-family: Roboto, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      display: flex;
                    }
                  }
                }
                .frame-7161-Lqw {
                  margin: 0rem 57.7rem 0rem 1.6rem;
                  width: calc(100% - 59.3rem);
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .tracking-number-g97 {
                    margin-right: 21.4rem;
                    font-size: 1.6rem;
                    line-height: 1;
                    text-transform: uppercase;
                    color: #333333;
                    display: flex;
                    font-weight: 700;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                  .item-777496427531-1hB {
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1;
                    color: #333333;
                  }
                }
              }
            }
          }
          .divider-9Hb {
            width: 100%;
            flex-shrink: 0;

            .rectangle-5316-KC5 {
              width: 100%;
              height: 0.2rem;
              background-color: #f2f2f2;
            }
          }
        }
        .frame-7175-fFw {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 100%;

          .frame-7173-cws {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-bottom: 0.8rem;
            width: 100%;
            height: 6.4rem;

            .lch-s-di-chuyn-mJy {
              flex-shrink: 0;
              display: flex;
              font-weight: 300;
              line-height: 2.0833333333;
              text-transform: capitalize;
              color: #333333;
              margin-right: 14.1rem;
              font-size: 2.4rem;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
            }
            .frame-7172-Uz5 {
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .frame-7151-qpd {
                align-items: center;
                background-color: #f2f2f2;
                flex-shrink: 0;
                border-radius: 0.8rem;
                margin-right: 1.6rem;
                box-sizing: border-box;
                padding: 0.85rem 1.8rem 0.8rem 1.8rem;
                height: 100%;
                display: flex;

                .frame-7171-NZf {
                  height: 100%;
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;
                  margin-right: 5rem;

                  .sp-xp-theo-ngy-gi-8Hw {
                    display: flex;
                    font-size: 1.6rem;
                    color: #333333;
                    font-family: Roboto, 'Source Sans Pro';
                    flex-shrink: 0;
                    margin-bottom: 0.75rem;
                    font-weight: 700;
                    line-height: 1;
                    text-transform: uppercase;
                    white-space: nowrap;
                  }
                  .tng-dn-eGH {
                    color: #959ea7;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                    font-size: 2rem;
                    font-weight: 400;
                    line-height: 1.1725;
                  }
                }
                .vector-mLu {
                  width: 1.3504rem;
                  height: 0.7933rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-bottom: 0.05rem;
                }
              }
              .frame-7171-gim {
                box-sizing: border-box;
                padding: 0.85rem 1.8rem 0.8rem 1.8rem;
                height: 100%;
                display: flex;
                align-items: center;
                background-color: #f2f2f2;
                border-radius: 0.8rem;
                flex-shrink: 0;

                .frame-7171-RgM {
                  margin-right: 6.5rem;
                  height: 100%;
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;

                  .mi-gi-nWu {
                    white-space: nowrap;
                    display: flex;
                    font-size: 1.6rem;
                    line-height: 1;
                    color: #333333;
                    flex-shrink: 0;
                    margin-bottom: 0.75rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    font-family: Roboto, 'Source Sans Pro';
                  }
                  .gi-qut-a-phng-WSu {
                    line-height: 1.1725;
                    color: #959ea7;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                    font-size: 2rem;
                    font-weight: 400;
                  }
                }
                .vector-2RF {
                  height: 0.7933rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-bottom: 0.05rem;
                  width: 1.3504rem;
                }
              }
            }
          }
          .image-4-kc9 {
            position: relative;
            background-size: 107.248% 116.77%;
            background-position: -3.6rem -10.6994rem;
            background-image: url('REPLACE_IMAGE:cd7fe22a5f5b1d2f764f7c6e80b86b6b621e38b6');
            flex-shrink: 0;
            margin-right: 0.0008rem;
            width: 95.2rem;
            height: 63.8rem;
          }
        }
        .auto-group-jbhj-qdb {
          box-sizing: border-box;
          padding: 2rem 0rem 0rem 0.001rem;
          width: 100%;
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .sub-link-Lim {
            margin: 0rem 1.4rem 2rem 83.2rem;
            box-sizing: border-box;
            padding: 0.25rem 0rem 0.25rem 0.6rem;
            width: calc(100% - 84.6rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .download-1-SWu {
              margin: 0rem 1.4rem 0.1rem 0rem;
              width: 0.9rem;
              height: 1.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .back-to-top-xVF {
              font-size: 1.4rem;
              font-weight: 400;
              text-transform: capitalize;
              color: #1176ae;
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              line-height: 1.1428571429;
              font-family: Roboto, 'Source Sans Pro';
            }
          }
          .rectangle-5316-t81 {
            flex-shrink: 0;
            margin-bottom: 1.8rem;
            width: 100%;
            height: 0.2rem;
            background-color: #f2f2f2;
          }
          .frame-7176-2V7 {
            margin: 0rem 24.75rem 2rem 0rem;
            width: 70.45rem;
            flex-shrink: 0;

            .danh-sch-theo-di-ZE9 {
              display: flex;
              font-size: 2.4rem;
              text-transform: capitalize;
              color: #333333;
              margin-bottom: 0.8rem;
              line-height: 2.0833333333;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              font-weight: 300;
            }
            .bn-hin-khng-c-bt-c-l-hng-no-trong-danh-sch-theo-di-GuF {
              font-family: Roboto, 'Source Sans Pro';
              font-size: 1.6rem;
              line-height: 3.125;
              align-items: center;
              justify-content: center;
              font-weight: 400;
              color: #333333;
              white-space: nowrap;
              width: 100%;
              display: flex;
            }
          }
          .sub-link-ZNZ {
            padding: 0.25rem 0rem 0.25rem 0.6rem;
            width: calc(100% - 84.6rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 1.4rem 2rem 83.2rem;
            box-sizing: border-box;

            .download-1-561 {
              width: 0.9rem;
              height: 1.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 1.4rem 0.1rem 0rem;
            }
            .back-to-top-CgR {
              font-family: Roboto, 'Source Sans Pro';
              font-weight: 400;
              line-height: 1.1428571429;
              text-transform: capitalize;
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.4rem;
              color: #1176ae;
            }
          }
          .rectangle-5317-vsK {
            width: 100%;
            height: 0.2rem;
            background-color: #f2f2f2;
            flex-shrink: 0;
          }
        }
      }
    }
  }
}
